<div ng-controller="authority-ctrl">
	
	<div class="card shadow mt-3">
		<div class="card-header">
			<h3 class="m-0 font-weight-bold text-primary">Phân quyền</h3>
		</div>
		<div class="card-body">
			<table id="example1" class="table table-bordered table-striped text-center">
				<thead>
					<tr>
						<th></th>
						<th>Admin</th>
						<th>User1</th>
						<th>User2</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Tommy Shelby</td>
						<td>
							<input type="checkbox" />
						</td>
						<td>
							<input type="checkbox" />
						</td>
						<td>
							<input type="checkbox" />
						</td>
					</tr>
					<tr>
						<td>Grace Burgess</td>
						<td>
							<input type="checkbox" />
						</td>
						<td>
							<input type="checkbox" />
						</td>
						<td>
							<input type="checkbox" />
						</td>
					</tr>
					<tr>
						<td>John Shelby</td>
						<td>
							<input type="checkbox" />
						</td>
						<td>
							<input type="checkbox" />
						</td>
						<td>
							<input type="checkbox" />
						</td>
					</tr>
					<tr>
						<td>Arthur Shelby</td>
						<td>
							<input type="checkbox" />
						</td>
						<td>
							<input type="checkbox" />
						</td>
						<td>
							<input type="checkbox" />
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
</div>
