<div class="container-fluid p-0" ng-controller="ctrl-semester">
	<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

		<li class="nav-item" role="presentation">
			<button class="btn btn-light" id="pills-create-semesters-tab" data-bs-toggle="pill"
				data-bs-target="#pills-create-semesters" type="button" role="tab" aria-controls="pills-create-semesters"
				aria-selected="true">Tạo học kì</button>
		</li>

		<li class="nav-item" role="presentation">
			<button class="btn btn-light" id="pills-create-campains-tab" data-bs-toggle="pill"
				data-bs-target="#pills-create-campains" type="button" role="tab" aria-controls="pills-create-campains"
				aria-selected="false">Tạo chiến dịch</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="btn btn-light active" id="pills-home-tab" data-bs-toggle="pill"
				data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
				aria-selected="false">Quản lí chiến dịch</button>
		</li>
	</ul>
	
	<div class="tab-content" id="pills-tabContent">
		<div class="tab-pane fade show active" id="pills-home" role="tabpanel"
			aria-labelledby="pills-home-tab" tabindex="0">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="row">
						<div class="col-md-12 col-lg-12">
							<h5 class="mb-3">
								<strong>Tìm kiếm</strong> & lọc thông tin sinh viên
							</h5>
							<div class="card card-primary shadow">
								<div class="card-body row">
									<div class="form-group col-md-4 mb-3">
										<label>Từ ngày: </label>
										<div class="input-group mb-3 mt-1">
											<input ng-model="selectedCreatedDate" class="form-control"
												type="date" name="CreatedDate">
										</div>
									</div>

									<div class="form-group col-md-4 mb-3">
										<label>Đến ngày: </label>
										<div class="input-group mb-3 mt-1">
											<input ng-model="selectedCreatedDate" class="form-control"
												type="date" name="CreatedDate">
										</div>
									</div>

									<div class="form-group col-md-4 mb-3">
										<button class="btn mb-3 btn-light"
											style="width: 55%; margin-top: 25px">Tìm kiếm</button>
									</div>

									<div class="form-group col-md-6 mb-3">
										<label>Loại chiến dịch: </label>
										<div class="mb-3 mt-1">
											<select class="form-select">
												<option></option>
											</select>
										</div>
									</div>

									<div class="form-group col-md-6 mb-3">
										<label>Chưa chăm sóc: (chỉ xem) </label>
										<div class="mb-3 mt-1">
											<input type="text" class="form-control" readonly>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 col-lg-8">
							<h5 class="mb-3">
								<strong>Thông tin</strong> sinh viên
							</h5>
							<div class="card card-primary shadow">
								<div class="card-body row">
									<div class="form-group col-md-4 mb-3">
										<label>Mã số sinh viên: </label>
										<div class="mb-3 mt-1">
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-4 mb-3">
										<label>Họ và tên: </label>
										<div class="mb-3 mt-1">
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-4 mb-3">
										<label>Chuyên ngành: </label>
										<div class="mb-3 mt-1">
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-4 mb-3">
										<label>Trạng thái: </label>
										<div class="mb-3 mt-1">
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-4 mb-3">
										<label>Môn học: </label>
										<div class="mb-3 mt-1">
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-4 mb-3">
										<label>Học kì: </label>
										<div class="mb-3 mt-1">
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-12">
										<label>Nhận xét của giảng viên: </label>
										<div class="mb-3 mt-1">
											<textarea class="form-control" rows="2" cols="6"></textarea>

										</div>
									</div>

								</div>

							</div>
						</div>

						<div class="col-md-12 col-lg-4">
							<h5 class="mb-3">
								<strong>Học phí</strong> & Bảo lưu
							</h5>
							<div class="card card-primary shadow">
								<div class="card-body row">
									<div class="form-group col-md-12 mb-3">
										<label>Tổng học phí: </label>
										<div class="mb-3 mt-1">
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-12 mb-3">
										<label>Trạng thái: </label>
										<div class="mb-3 mt-1">
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="form-group col-md-12 mb-3">
										<label>Trạng thái bảo lưu: </label>
										<div class="mb-3 mt-1">
											<input type="text" class="form-control">
										</div>
									</div>

								</div>

							</div>
						</div>

					</div>

					<div class="row">
						<div class="col-md-12 col-lg-12">
							<h5 class="mb-3">
								<strong>Thao tác</strong>
							</h5>
							<div class="card card-primary shadow">
								<div class="card-body row">

									<div class="form-group col-md-4 mb-3">
										<div class="form-group col-md-12 mb-3">
											<div class="card flex-fill">
												<table class="table table-hover my-0">
													<thead>
														<tr>
															<th>Loại chiến dịch</th>
															<th class="d-none d-xl-table-cell">Mã số sinh viên</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>Project Apollo</td>
															<td><span class="badge bg-success">Done</span></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div class="form-group col-md-8 mb-3">
										<div class="form-group col-md-6 mb-3">
											<label>Loại chiến dịch: </label>
											<div class="mb-3 mt-1">
												<select class="form-select">
													<option></option>
												</select>
											</div>
										</div>

										<div class="form-group col-md-6 mb-3">
											<label>Nguyện vọng của sinh viên: </label>
											<div class="mb-3 mt-1">
												<select class="form-select">
													<option></option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>



					<div class="row">
						<h5 class="mb-3">
							<strong>Lịch sử</strong> chăm sóc
						</h5>
						<div class="col-12 d-flex">
							<div class="card flex-fill">
								<table class="table table-hover my-0">
									<thead>
										<tr>
											<th>Loại chiến dịch</th>
											<th class="d-none d-xl-table-cell">Mã số sinh viên</th>
											<th class="d-none d-xl-table-cell">Họ và tên</th>
											<th>Lý do</th>
											<th class="d-none d-md-table-cell">Diễn giải chi tiết</th>
											<th class="d-none d-md-table-cell">Người chăm sóc</th>
											<th class="d-none d-md-table-cell">Thời gian chăm sóc</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Project Apollo</td>
											<td class="d-none d-xl-table-cell">01/01/2021</td>
											<td class="d-none d-xl-table-cell">31/06/2021</td>
											<td><span class="badge bg-success">Done</span></td>
											<td class="d-none d-md-table-cell">Vanessa Tucker</td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<td>Project Fireball</td>
											<td class="d-none d-xl-table-cell">01/01/2021</td>
											<td class="d-none d-xl-table-cell">31/06/2021</td>
											<td><span class="badge bg-danger">Cancelled</span></td>
											<td class="d-none d-md-table-cell">William Harris</td>
											<td></td>
											<td></td>
										</tr>

										<tr>
											<td>Project Nitro</td>
											<td class="d-none d-xl-table-cell">01/01/2021</td>
											<td class="d-none d-xl-table-cell">31/06/2021</td>
											<td><span class="badge bg-warning">In progress</span></td>
											<td class="d-none d-md-table-cell">Vanessa Tucker</td>
											<td></td>
											<td></td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="tab-content" id="pills-tabContent">
			<div class="tab-pane fade" id="pills-create-semesters" role="tabpanel"
		        aria-labelledby="pills-create-semesters-tab" tabindex="0">
		        
		        <div class="row">
					<div class="col-md-12 col-lg-12">
						<h5 class="mb-3"><strong>Tạo học kì</strong></h5>
						<div class="card card-primary shadow">
						<form name="myForm">
							<div class="card-body row">					
								<div class="form-group col-md-6 mb-3">
									<label>Mã học kì: </label>
									<div class="mb-3 mt-1">
										<input ng-model="form.semesterId" name="semesterId" type="text" class="form-control" ng-pattern="/^[a-zA-Z]{2}\d{2}$/" required>
										<div ng-show="myForm.semesterId.$error.pattern" class="text-danger">Mã Học Kì không hợp lệ!</div>
										<div ng-show="myForm.semesterId.$error.required && myForm.semesterId.$touched" class="text-danger">Mã Học Kì không được để trống!</div>
						            </div>
								</div>
								
								<div class="form-group col-md-6 mb-3">
									<label>Tên học kì:  </label>
									<div class="mb-3 mt-1">
										<input ng-model="form.semesterName" name="semesterName" type="text" class="form-control" required>
										<div ng-show="myForm.semesterName.$error.required && myForm.semesterName.$touched" class="text-danger">Tên Học Kì không được để trống!</div>
						            </div>
								</div>
								
								<div class="form-group col-md-6 mb-3">
									<label>Ngày bắt đầu:  </label>
									<div class="mb-3 mt-1">
										<input ng-model="form.startTime" name="startDate" class="form-control" type="date" ng-value="{{form.startTime}}" required>
										<div ng-show="myForm.startDate.$error.required && myForm.startDate.$touched" class="text-danger">Ngày bắt đầu không được để trống!</div>
						            </div>
								</div>
								
								<div class="form-group col-md-6 mb-3">
									<label>Ngày kết thúc:  </label>
									<div class="mb-3 mt-1">
										<input ng-model="form.endTime" name="endDate" class="form-control" type="date" required>
										<div ng-show="endTime < startTime" class="text-danger">Ngày kết thúc phải lớn hơn ngày bắt đầu!</div>
										<div ng-show="myForm.endDate.$error.required && myForm.endDate.$touched" class="text-danger">Ngày kết thúc không được để trống!</div>							
						            </div>
								</div>
								
								<div class="form-group col-md-12 col-lg-12">
									<button class="btn mb-3 btn-light" ng-show="myForm.$invalid" disabled>Tạo học kì</button>
									<button ng-click="create()" class="btn mb-3 btn-light" ng-show="!myForm.$invalid">Tạo học kì</button>								
									<button ng-click="update()" class="btn mb-3 btn-light" ng-disabled="isDisabled">Cập Nhật</button>
									<button ng-click="reset()" class="btn mb-3 btn-light">Làm mới</button>
								</div>
							</div>
						
							</div>
						</form>
					</div>
					
					<div class="form-group col-md-12 mb-3">
						<div class="form-group col-md-12 mb-3">
							<div class="card flex-fill">
								<table class="table table-hover my-0">
									<thead>
										<tr>
											<th>Mã học kì</th>
											<th class="d-none d-xl-table-cell">Tên học kì</th>
											<th class="d-none d-xl-table-cell">Ngày bắt đầu</th>
											<th class="d-none d-xl-table-cell">Ngày kết thúc</th>
											<th class="d-none d-xl-table-cell">Chỉnh sửa</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="semester in items">
											<td>{{semester.semesterId}}</td>
											<td>{{semester.semesterName}}</td>
											<td>{{semester.startTime | date:'dd/MM/yyyy'}}</td>
											<td>{{semester.endTime | date:'dd/MM/yyyy'}}</td>
											<td>
												<button ng-click="edit(semester.semesterId)" class="btn btn-light m-3">Chỉnh sửa</button>
												<button ng-click="delete(semester.semesterId)" class="btn btn-light">Xóa học kỳ</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					
				</div>
		    </div>
	    
	    <div class="tab-pane fade" id="pills-create-campains" role="tabpanel"
	        aria-labelledby="pills-create-campains-tab" tabindex="0">
	        
	        <div class="row" ng-controller="ctrl-campaign">
				<div class="col-md-12 col-lg-12">
					<h5 class="mb-3"><strong>Tạo chiến dịch</strong></h5>
					<div class="card card-primary shadow">
					<form name="myForm">
					    <div class="card-body row">
					        <div class="form-group col-md-12 mb-3">
					            <label>Mã chiến dịch:</label>
					            <div class="mb-3 mt-1">
					                <input ng-model="form.campaignId" ng-disabled="isIdDisabled" name="campaignId" type="text" class="form-control" required>
									<div ng-show="isDuplicateCampaignId" class="text-danger">Mã chiến dịch đã tồn tại!</div>
					                <div ng-show="myForm.campaignId.$error.required && myForm.campaignId.$touched && submitted" class="text-danger">Mã chiến dịch không được để trống!</div>
					            	<div ng-show="myForm.campaignId.$error.length && myForm.campaignId.$touched && submitted" class="text-danger">Mã chiến dịch không được quá 5 ký tự!</div>
					            </div>
					        </div>
					
					        <div class="form-group col-md-12 mb-3">
					            <label>Tên chiến dịch:</label>
					            <div class="mb-3 mt-1">
					                <input ng-model="form.campaignName" ng-change="checkFormChanges()" name="campaignName" type="text" class="form-control" required>
					                <div ng-show="myForm.campaignName.$error.required && myForm.campaignName.$touched && submitted" class="text-danger">Tên chiến dịch không được để trống!</div>
					            </div>
					        </div>
					
					        <div class="form-group col-md-12 col-lg-12">
					            <button class="btn mb-3 btn-light" ng-click="submitted = true; create2()">Tạo chiến dịch</button>
					            <button class="btn mb-3 btn-light" ng-click="update2()" ng-disabled="!formChanges">Sửa</button>
					            <button class="btn mb-3 btn-light" ng-click="reset2()">Làm mới</button>
					        </div>
					    </div>
					</form>

					</div>
					
				</div>
				<div class="form-group col-md-12 mb-3">
						<div class="form-group col-md-12 mb-3">
							<div class="card flex-fill">
								<table class="table table-hover my-0">
									<thead>
										<tr>
											<th>Mã chiến dịch</th>
											<th class="d-none d-xl-table-cell">Tên chiến dịch</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="campain in items">
											<td>{{campain.campaignId}}</td>
											<td>{{campain.campaignName}}</td>
											<td>
												<button ng-click="edit2(campain.campaignId)"
												class="btn btn-light m-3">Chỉnh sửa</button>
											<button ng-click="delete2(campain.campaignId)"
												class="btn btn-light">Xóa chiến dịch</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
			</div>
	        
	    </div>
	    
	</div>
</div>

