<div class="box2">
	
	<div class="row">
		<h5 class="mb-3"><strong>Bộ lọc</strong></h5>
		<div class="col-md-12 col-lg-12">
			<div class="card card-primary shadow">
				<div class="card-body row">
					<div class="form-group col-md-3 mb-3">
						<label>Học kỳ</label>
						<div class="mb-3 mt-1">
							<select class="form-select">
				                <option ng-repeat="x in categories" ng-value="x.categoryId">{{x.categoryId}}</option>
				            </select>
			            </div>
					</div>
					<div class="form-group col-md-3 mb-3">
						<label>Loại chiến dịch: </label>
						<div class="mb-3 mt-1">
							<select class="form-select">
				                <option></option>
				            </select>
			            </div>
					</div>
					<div class="form-group col-md-3 mb-3">
						<label>Nhân sự</label>
						<div class="mb-3 mt-1">
							<select class="form-select">
				                <option ng-repeat="x in categories" ng-value="x.categoryId">{{x.categoryId}}</option>
				            </select>
			            </div>
					</div>
					
					<div class="form-group col-md-3 mb-3">
						<label>Chuyên ngành</label>
						<div class="mb-3 mt-1">
							<select class="form-select">
				                <option ng-repeat="x in categories" ng-value="x.categoryId">{{x.categoryId}}</option>
				            </select>
			            </div>
					</div>

				</div>

			</div>
		</div>
		<h5 class="mb-3"><strong>Tìm kiếm</strong></h5>
		<div class="col-md-12 col-lg-12">
			<div class="card card-primary shadow">
				<div class="card-body row">
				
					<div class="form-group col-md-5 mb-3">
						<label>Từ ngày: </label>
						<div class="input-group mb-3 mt-1">
							<input ng-model="selectedCreatedDate" class="form-control" type="date" name="CreatedDate">
						</div>
					</div>
					
					<div class="form-group col-md-5 mb-3">
						<label>Đến ngày: </label>
						<div class="input-group mb-3 mt-1">
							<input ng-model="selectedCreatedDate" class="form-control" type="date" name="CreatedDate">
						</div>
					</div>
			
					<div class="form-group col-md-2 mb-3">
						<button class="btn mb-3 btn-light" style="width: 100%; margin-top: 25px">
							 Tìm
						</button>
					</div>
					
					
					<div class="form-group col-md-4 mb-3 d-flex align-items-center justify-content-center">
						<label style="width: 90%;">Đã chăm sóc: (chỉ xem) </label>
						<input style="width: 50%" type="text" class="form-control" readonly>
					</div>
					
					<div class="form-group col-md-4 mb-3 d-flex align-items-center justify-content-center">
						<label style="width: 90%;">Chưa chăm sóc: (chỉ xem) </label>
						<input style="width: 50%" type="text" class="form-control" readonly>
					</div>
					
					
					
					<div class="form-group col-md-4 mb-3 d-flex align-items-center justify-content-center">
						<label style="width: 90%;">Tổng danh sách: (chỉ xem) </label>
						<input style="width: 50%" type="text" class="form-control" readonly>
					</div>
					
					<div class="form-group col-md-4 mb-3">
						<div class="input-group mb-3 mt-3">
							<input type="text" class="form-control" placeHolder="Nhập mã số sinh viên">
							<button class="btn btn-outline-secondary" type="button">Tìm kiếm</button>
						</div>
					</div>
					

				</div>

			</div>
		</div>
		
		<h5 class="mb-3"><strong>Phân công</strong> & Nhập xuất file excel</h5>
		<div class="col-md-12 col-lg-12">
			<div class="card card-primary shadow">
				<div class="card-body row">
					<div class="form-group col-md-4">
						<label for="title">Nhập file excel</label>
						<div class="custom-file mb-4">
	                    	<label for="image" class="custom-file-label">{{form.productImage}}</label>
	                        <input id="image" type="file" class="form-control ">
	                    </div>						
					</div>	
					
					<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
							
				</div>				
			</div>
		</div>
	</div>
	
	<hr>
	<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
	    <li class="nav-item" role="presentation">
	        <button class="btn btn-light active" id="pills-home-tab" data-bs-toggle="pill"
	            data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
	            aria-selected="true">Đã phân công</button>
	    </li>
	    <li class="nav-item" role="presentation">
	        <button class="btn btn-light" id="pills-profile-tab" data-bs-toggle="pill"
	            data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
	            aria-selected="false">Chưa phân công</button>
	    </li>
	</ul>
	
	<div class="tab-content" id="pills-tabContent">
	    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
	        aria-labelledby="pills-home-tab" tabindex="0">
	        <div class="card flex-fill">
				<table id="myTable" class="table table-hover my-0">
					<thead>
						<tr>
							<th>Loại chiến dịch</th>
							<th class="d-none d-xl-table-cell">Mã số sinh viên</th>
							<th>Lý do</th>
							<th class="d-none d-md-table-cell">Diễn giải chi tiết</th>
							<th class="d-none d-md-table-cell">Phân loại đánh giá</th>
							<th class="d-none d-md-table-cell">Nhân sự</th>
							<th class="d-none d-md-table-cell">Thời gian chăm sóc</th>
						</tr>
					</thead>
					<tbody>
						<tr>
					        <td>a</td>
					        <td class="d-none d-xl-table-cell">a</td>
					        <td><span class="badge bg-success">Done</span></td>
					        <td class="d-none d-md-table-cell">a</td>
					        <td class="d-none d-md-table-cell">a</td>
					        <td class="d-none d-md-table-cell">a</td>
					        <td class="d-none d-md-table-cell">a</td>
					     </tr>
						
					</tbody>
				</table>
				<button class="btn btn-light">Xem thêm</button>
			</div>
	    </div>
	    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
	        tabindex="0">
	        <div class="card flex-fill" ng-controller="viewmore">
				<table id="myTable" class="table table-hover my-0">
					<thead>
						<tr>
							<th>Loại chiến dịch</th>
							<th class="d-none d-xl-table-cell">Mã số sinh viên</th>
							<th>Lý do</th>
							<th class="d-none d-md-table-cell">Diễn giải chi tiết</th>
							<th class="d-none d-md-table-cell">Phân loại đánh giá</th>
							<th class="d-none d-md-table-cell">Nhân sự</th>
							<th class="d-none d-md-table-cell">Thời gian chăm sóc</th>
						</tr>
					</thead>
					<tbody>
						<tr>
					        <td>a</td>
					        <td class="d-none d-xl-table-cell">a</td>
					        <td><span class="badge bg-success">Done</span></td>
					        <td class="d-none d-md-table-cell">a</td>
					        <td class="d-none d-md-table-cell">a</td>
					        <td class="d-none d-md-table-cell">a</td>
					        <td class="d-none d-md-table-cell">a</td>
					     </tr>
						
					</tbody>
				</table>
				<button class="btn btn-light">Xem thêm</button>
			</div>
	      </div>
	</div>
    
</div>



