<div class="container-fluid p-0">
	<h5 class="mb-3"><strong>Bộ lọc</strong></h5>
	<div class="row">
		<div class="col-md-12 col-lg-12">
			<div class="card card-primary shadow">
				<div class="card-body row">
					<div class="form-group col-md-4 mb-3">
						<label>Loại chiến dịch: </label>
						<div class="mb-3 mt-1">
							<select class="form-select">
				                <option></option>
				            </select>
			            </div>
					</div>
					<div class="form-group col-md-4 mb-3">
						<label>Học kỳ</label>
						<div class="mb-3 mt-1">
							<select class="form-select">
				                <option ng-repeat="x in categories" ng-value="x.categoryId">{{x.categoryId}}</option>
				            </select>
			            </div>
					</div>
					<div class="form-group col-md-4 mb-3">
						<label>Nhân sự</label>
						<div class="mb-3 mt-1">
							<select class="form-select">
				                <option ng-repeat="x in categories" ng-value="x.categoryId">{{x.categoryId}}</option>
				            </select>
			            </div>
					</div>

				</div>

			</div>
		</div>
		<h5 class="mb-3"><strong>Tìm kiếm</strong></h5>
		<div class="col-md-12 col-lg-12">
			<div class="card card-primary shadow">
				<div class="card-body row">
				
					<div class="form-group col-md-4 mb-3">
						<label>Từ ngày: </label>
						<div class="input-group mb-3 mt-1">
							<input ng-model="selectedCreatedDate" class="form-control" type="date" name="CreatedDate">
						</div>
					</div>
					
					<div class="form-group col-md-4 mb-3">
						<label>Đến ngày: </label>
						<div class="input-group mb-3 mt-1">
							<input ng-model="selectedCreatedDate" class="form-control" type="date" name="CreatedDate">
						</div>
					</div>
			
					<div class="form-group col-md-4 mb-3">
						<button class="btn mb-3 btn-light" style="width: 55%; margin-top: 25px">
							 Tìm kiếm
						</button>
					</div>
					
					<div class="form-group col-md-4 mb-3">
						<label>Mã số sinh viên: </label>
						<div class="input-group mb-3 mt-1">
							<input type="text" class="form-control">
							<button class="btn btn-outline-secondary" type="button">Tìm kiếm</button>
						</div>
					</div>
					<div class="form-group col-md-4 mb-3 d-flex align-items-center justify-content-center">
						<label style="width: 100%;">Tổng danh sách: (chỉ xem) </label>
						<input type="text" class="form-control" readonly>
					</div>
					
					<div class="form-group col-md-4 mb-3">
						<button class="btn mb-3 btn-light" style="width: 55%; margin-top: 20px">
							 Xuất excel
						</button>
					</div>

				</div>

			</div>
		</div>
	</div>

	<h1 class="h3 mb-3"><strong>Lịch sử</strong> chăm sóc</h1>
	<div class="row" >
		<div class="col-12 d-flex">
			<div class="card flex-fill" ng-controller="viewmore">
				<table id="myTable" class="table table-hover my-0">
					<thead>
						<tr>
							<th>Loại chiến dịch</th>
							<th class="d-none d-xl-table-cell">Mã số sinh viên</th>
							<th>Lý do</th>
							<th class="d-none d-md-table-cell">Diễn giải chi tiết</th>
							<th class="d-none d-md-table-cell">Phân loại đánh giá</th>
							<th class="d-none d-md-table-cell">Nhân sự</th>
							<th class="d-none d-md-table-cell">Thời gian chăm sóc</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in items | limitTo: visibleItems">
					        <td>{{ item.loaiChiendich }}</td>
					        <td class="d-none d-xl-table-cell">{{ item.maSinhVien }}</td>
					        <td><span class="badge bg-success">Done</span></td>
					        <td class="d-none d-md-table-cell">{{ item.dienGiai }}</td>
					        <td class="d-none d-md-table-cell">{{ item.phanLoai }}</td>
					        <td class="d-none d-md-table-cell">{{ item.nhanSu }}</td>
					        <td class="d-none d-md-table-cell">{{ item.thoiGianChamSoc }}</td>
					     </tr>
						
					</tbody>
				</table>
				<button class="btn btn-light" ng-show="visibleItems < items.length" ng-click="showMore()">Xem thêm</button>
			</div>
		</div>

	</div>

</div>


